<div class="navbar">
  <%= render "shared/navbar" %>
</div>

<div class="home-area">
  <div class="home-container">
    <div class="home-content">
      <h1>
        Hey! I'm
        <span class="color-blue"> Andrew</span>
      </h1>
      <p>
        Software developer
      <br>
      </p>
      <div class="social-icons">
        <a href="https://www.linkedin.com/in/andrew-hulme-b3a649291/"><i class="fab fa-linkedin"></i></a>
        <a href="https://github.com/AndrewHulme88"><i class="fab fa-github"></i></a>
        <a href="https://lewagon-alumni.slack.com/team/U067WARCZJB"><i class="fab fa-slack"></i></a>
      </div>
    </div>
  </div>
</div>
