h2 {
  color: #fff;
  font-size: 2rem;
  font-family: "Nunito", sans-serif;
}

h3 {
  color: #fff;
  font-size: 1.5rem;
  font-family: "Nunito", sans-serif;
  margin-bottom: 0;
}

.page-area {
  width: 80%;
  background-color: rgb(53, 53, 54);
  height: 100vh;
  padding-left: 2%;
}

.page-body {
  display: flex;
}

.page-body-img img{
  width: 100%;
}

.page-body-img {
  width: 50%;
}

.page-body-info {
  padding-left: 2%;
  width: 50%;
}

li {
  color: #fff;
  font-size: 1.5rem;
  font-family: "Nunito", sans-serif;
  list-style: none;
}

ul {
  padding-left: 0;
}
