h2 {
  color: #fff;
  font-size: 2rem;
  font-family: "Nunito", sans-serif;
}

.page-area {
  width: 80%;
  background-color: rgb(53, 53, 54);
  height: 100vh;
  padding-left: 2%;
}

.page-body {
  display: flex;
}

.page-body-info {
  padding-left: 2%;
}
