svg {
  color: #037fff;
  transition: all .5s ease;
}

svg:hover {
  color: #037fff;
  border-color: #037fff;
  box-shadow: 0 0 10px #037fff;
  text-shadow: 0 0 5px #037fff;
  transform: scale(1.1);
}

.skill-icon p {
  text-align: center;
  margin: 0;
}

.skill-icon {
  margin: 2%;
}

.skills {
  display: flex;
  flex-wrap: wrap;
}

.page-body-column {
  display: flex;
  flex-direction: column;
}
