svg {
  color: #037fff;
}

.skill-icon p {
  text-align: center;
  margin: 0;
}

.skill-icon {
  margin: 2%;
}

.skills {
  display: flex;
  flex-wrap: wrap;
}

.page-body-column {
  display: flex;
  flex-direction: column;
}
