<div class="navbar">
  <%= render "shared/navbar" %>
</div>

<div class="page-area">
  <div class="page-header">
    <h1>About Me</h1>
  </div>
  <div class="page-body">
    <div class="page-body-img">
      <%= image_tag("Profile.jpg", :alt=> "Picture of me") %>
    </div>
    <div class="page-body-info">
      <h2>
        I am
        <span class="color-blue"> Andrew</span>
      </h2>
      <p>I'm a web developer. I build websites for people
      and businesses to help achieve their needs.
      </p>
      <ul class="no-padding-list">
        <li class="no-style">
          <span class="color-blue">Name:</span>   Andrew Hulme
        </li>
        <li class="no-style">
          <span class="color-blue">Location:</span>   Melbourne, Australia
        </li>
        <li class="no-style">
          <span class="color-blue">Hobbies:</span> Programming, Gym, Jiu-Jitsu, Motorbikes, Video Games, Food
        </li>
        <li class="no-style">
          <span class="color-blue">Email:</span> andrew_hulme04@gmail.com
        </li>
        <li class="no-style">
          <span class="color-blue">Status:</span> Available for work
        </li>
      </ul>
    </div>
  </div>
  <div class="page-footer">

  </div>
</div>
