<div class="navbar">
  <%= render "shared/navbar" %>
</div>

<div class="page-area">
  <div class="page-header">
    <h1>About Me</h1>
  </div>
  <div class="page-body">
    <div class="page-body-img">
      <%= image_tag("Profile.jpg", :alt=> "Picture of me") %>
    </div>
    <div class="page-body-info">
      <h2>
        I am
        <span class="color-blue"> Andrew</span>
      </h2>
    </div>
  </div>
  <div class="page-footer">

  </div>
</div>
