<nav class="nav-header">
  <div class="nav-inner">
    <div class="nav-logo">
      <h1>AH</h1>
    </div>
    <ul class="nav-menu">
      <li>
        <%= link_to "HOME", "/", class: "nav-button" %>
      </li>
      <li>
        <%= link_to "ABOUT", "#", class: "nav-button" %>
      </li>
      <li>
        <%= link_to "PORTFOLIO", "#", class: "nav-button" %>
      </li>
      <li>
        <%= link_to "RESUME", "#", class: "nav-button" %>
      </li>
    </ul>
  </div>
</nav>
